﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This page does not save anything, except the image you upload and its position.
    However, your IP, time stamp and user agent may be saved in the server log
    for debugging purposes.
</p>